.main .save-user #button-save{ 
    width: 50%;
    margin: auto;
    background-color: rgb(237, 79, 79);
    padding: 2px;
    border-radius: 10px;
}

.main .save-user #button-save:hover{ 
    background-color: rgb(218, 126, 126);
    cursor: pointer;
}

.main .save-user h2{
    color: white;
    text-align: center;
}