.main .content h2{
    text-align: center;
}

.main .content .row{ 
    border-color: dimgrey;
    border-style: solid;
}

.main .content .editar{ 
    padding: 10px;
    margin: 10px;
    background-color: green;
    border-radius: 25px;
}

.main .content .borrar{ 
    padding: 10px;
    background-color: red;
    margin: 10px;
    border-radius: 25px;
}

.main .content .update{ 
    padding: 10px;
    margin: 10px;
    background-color: green;
    border-radius: 25px;
}

.main .content .update:hover{ 
    background-color: rgb(104, 148, 104);
    cursor: pointer;
}


.main .content .editar:hover{ 
    background-color: rgb(104, 148, 104);
    cursor: pointer;
}

.main .content .borrar:hover { 
    background-color: rgb(187, 132, 132);
    cursor: pointer;
}

.main .content .actions{
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}


.main .content input {
    height: 30px;
    display: block; 
    width: 75%;
    margin: auto;
    font-family: "Mate SC", serif;
    text-align: center;
    padding: 1% 5%;
    font-size: 150%;
}