.main .input h2{
    text-align: center;
}

.main .input input {
    height: 30px;
    display: block; 
    width: 75%;
    margin: auto;
    font-family: "Mate SC", serif;
    text-align: center;
    padding: 1% 5%;
    font-size: 150%;
}

